


.main{
    border: 10px solid green;
    display: flex;
    /* height: 90vh; */
 


}
.warp-card{
    display: flex;
    flex-wrap: wrap;
    
    
}
/* .cards{
    justify-content: center;
    max-width: 1000px;  
    margin: auto;

} */