.sign-up-main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: "Poppins";   
}

.sign-up-wrap-container-main {
    /* border: 2px solid red; */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A4A60CC;      
}


.sign-up-wrapper-container{
    /* border: 3px solid rgb(105, 13, 234); */
    border-radius: 12px;
    height: 75vh;
    width: 59vw; 
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
}


.sign-up-container-with-logo{
    /* border: 1px solid rgb(81, 254, 1); */
    height: inherit;
    width: inherit;
    background-color: #1F485B;
    border-radius: 12px;
    display: flex;
    z-index: -8;
    position: absolute;
    
}


.sign-up-container-with-logo-left{
    /* border: 1px solid rgb(255, 0, 0); */
    height: 100%;
    width: 100%;
    z-index: 100;
    border-radius: inherit;
}

.sign-up-container-with-logo-left-start h2{
    /* border:1px solid red; */
    padding-left: 25px;
    color: #ffffff;
    font-size: 26px;
    font-weight: 400;
    font-family: "Poppins";
    line-height: 35px;
    letter-spacing: 8%;
    position: relative;
    top: 5vh;
}

.sign-up-container-with-logo-left-logo{
    padding-left: 15px; 
}
.sign-up-container-with-logo-left-logo img {
    /* border:1px solid red; */
    width: 4vw;
    height: 9vh;
    position: relative;
    top: 2vh;
    left: 1vw;
    object-fit: cover;
}



.sign-up-container-right-side{
    /* border: 2px solid rgb(210, 18, 66); */
    border-radius: 30px 18px 18px 30px;
    background-color: white;
    height: 75vh;
    width: 38vw;
    display: flex;
    flex-direction: column;
    
}

.sign-up-container-right-side-language-wrapper{
    /* border: 1px solid red; */
    height: 7vh;
    margin: 10px;
    text-align: end;
    padding-right: 10px;
}
.sign-up-container-right-side-language-wrapper h6{
    font-family: "Poppins";
    font-size: 10px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.08em;
    text-align: right;
    
}

.sign-up-container-right-side-main {
    /* border: 1px solid red; */
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    /* position: relative;
    left: 3vw;
    right: 3vw; */
}

.sign-up-container-right-side-main-upper-section {
    /* border: 1px solid red; */
    height: 14vh;
    width: 71%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-up-container-right-side-main-upper-section h1{
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: 0.08em;
    position: relative;
    
}

.sign-up-container-right-side-main-button-sign-up{
    width: 100%;
    height: 57px;
    justify-content: space-between;
    
    /* border: 1px solid rgb(255, 0, 0); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    
}
.sign-up-container-right-side-main-button-sign-up button{ 
    /* border: 1px solid rgb(123, 0, 239); */
    width: 45%;
    height: 65%;
    background-color: #F3F3F3;
    gap: 5px;
    border-radius: 5px;
    border: 1px solid #F3F3F3;
    
}
.s-btn1{
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.s-btn2{
    float: right;
     
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 2px;
    
    
    
}
.s-btn2 img{
    height: 15px;
    width: 20px ;
    /* border: .5px solid red; */
}


.sign-up-container-right-side-OR-section {
    /* border: 1px solid red; */
    margin: 2px ;
    margin-left: 280px;
    margin-right: 280px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    padding: 10px 0; /* Adjust padding as needed */
    gap: 1vw;
}

.sign-up-container-right-side-OR-section-or-text-FORM{
    margin: 2px;
    color: #CDCACA;
    font-weight: 300;
    font-size: 18px;
}
.sign-up-container-right-side-OR-section-line-FORM {
    flex-grow: 1; 
    height: 1px;
    /* /* background-color: rgba(20, 20, 20, 0.16); */
    border-top: 1px solid #4c2b2b26;
    width: 1vw;
}



.sign-up-container-right-side-lower-section-sign-up{
    /* border: 1px solid red; */
    /* height: 38vh; */
    margin: 2px 100px;
    display: flex;
    flex-direction: column;
}
/* .input-section-signup{
    margin: 2.5px;
    padding: 2.5px;
} */
.input{
    margin: 5px;
    padding: 5px;
    border: none;
    width: 98%;
    height: 4vh;
     
}

.input-section input {
    font-weight: 500;
    font-size: 14px;
    color: #BEBCBC;
    border-bottom: 1px solid #F3F3F3;
}



.create-account-btn{
    /* border: 1px solid red; */
    margin: 2px 00px;
    height: 57px;
    width: 412px;
    overflow: hidden;
    
}
.btn-3{
    height: 57px;
    width: 411px;
    background-color: #1F485B;
    color: white;
    border-radius: 5px;
    
}
.already-account{
    margin-top: 5px;
}

.already-account h6 {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    color: #BEBCBC;
    line-height: 35px;
}

.already-account span {
    color: #1F485B;
    text-decoration: none;
}

.left-side-sign-up-container-big-picture img {
    /* border:1px solid red; */
    width: auto;
    height: 43vh;
    position: absolute;
    top: 200px;
    left: 90px;
 
    
    object-fit: cover;
}