.single-product-section{
    border: 2px solid green;
    height: auto;
    width: 100vw;

  
}

.single-product-wrapper{
    border: 2px solid black;
    height: auto;
    padding: 10px 50px;
}

.single-product-upper-section{
    margin-top: 10px;
    border: 2px solid rgb(3, 238, 255);
    height: auto;
    /* overflow: hidden; */
}

.single-product-upper-section-wrapper{
    display: flex;
    gap: 20px;
}

.single-product-upper-section-small-img{
    display: flex;
    flex-direction: column;
    width: auto;
    /* border: 2px solid rgb(192, 34, 34); */
    gap: 20px;

    
}
.single-product-upper-section-small-img img{
    border-radius: 5px;
    /* border: 2px solid black; */
    width: 76px;
    height: 80px;
    /* top: 358px; */
    /* left: 99px; */
    /* gap: 5px; */
    /* opacity: 0px; */


}
.single-product-upper-section-big-img{
    /* border: 2px solid rgb(8, 245, 67); */
    width: 481px;
    height: 500px;
    overflow: hidden;
    border-radius: 8px;

}
.single-product-upper-section-big-img img{
    width: 481px;
    height: 500px;
}
.single-product-upper-section-details{
    padding-left: 100px;
    border: 2px solid rgb(9, 69, 180);
    width: 750px;
    height: 730px;
    /* top: 246px;
    left: 734px; */
    

}
.single-product-upper-section-details h5{
    /* border: 2px solid rgb(9, 69, 180); */

    /* width: inherit; */
    height: 63px;
    font-family: "Poppins";
    font-size: 42px;
    font-weight: 400;
    line-height: 63px;
    /* text-align: left; */
    /* top: 246px;
    left: 735px; */
    /* gap: 0px;
    opacity: 0px; */

}

.single-product-upper-section-details h6{
    /* border: 2px solid rgb(9, 69, 180); */

    /* width: auto; */
    height: 36px;
    /* top: 309px;
    left: 735px; */
    gap: 0px;
    opacity: 0px;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: #9F9F9F;
    ;

}
.single-product-upper-section-review{
    width: 300px;
    height: 30px;
    /* border: 2px solid rgb(8, 245, 67); */
    display: flex;
    
}
.single-product-upper-section-review-star{
    /* border: 2px solid rgb(8, 245, 67); */

    width: 124px;
    height: 20px;
    display: flex;
 
 

}
.single-product-upper-section-review-NOC{
    /* width: 125px; */
    height: 20px;
    
}
.single-product-upper-section-review-NOC p{
    /* border: 2px solid rgb(8, 245, 67); */
    
    font-family: "Poppins";
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    color: #9F9F9F;
}
.single-product-upper-section-product-description{
    width: 80%;
    margin-top: 10px;
    /* border: 1px solid blue; */
    height: auto;
    padding: 3px;
}
.single-product-upper-section-product-description p{
    font-family: "Poppins";
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;

}
.single-product-upper-section-product-size{
    margin-top: 10px;
    /* border: 1px solid blue; */
    
}
/* .single-product-upper-section-product-size h6{
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
} */
/* .single-product-upper-section-size-box{
    display: flex;  
      border: 1px solid rgb(255, 0, 68); 
      gap: 10px;  

 } */

/* .single-product-upper-section-sizes{
    padding: 2px;
    border: 1px solid rgb(255, 0, 68);
} */


.single-product-upper-section-product-colors{
    margin: 0;
    /* border: 1px solid rgb(255, 0, 68); */

}
.single-product-upper-section-product-colors h6{
    margin: 0;
    /* border: 1px solid rgb(255, 0, 68); */
    color: #aaa; 
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    /* line-height: 21px; */
    /* text-align: left; */


}
.single-product-upper-section-colors{
    /* border: 1px solid rgb(255, 0, 68); */

    display: flex;
    gap: 10px;

}

.single-product-upper-section-add-to-cart-btn-section{
    /* border: 1px solid rgb(21, 236, 64); */
    height: 80px;
    display: flex;
    width: 100%;
    gap: 20px;

}

.single-product-upper-section-product-tags{
    margin-top: 20px;
    /* border: 1px solid rgb(236, 32, 21); */
    height: 20vh;
    /* display: flex; */
    font-family: "Poppins";
    color: #9F9F9F;
    

}
.p-tag{
    /* border: 1px solid rgb(21, 236, 64); */
    margin-top: 10px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;    
    display: flex;
    color: #9F9F9F;
}
.p-tag-l{
    /* border: 1px solid rgb(21, 236, 64); */
    color: #9F9F9F;
    width: 15%;
}
.p-tag-r{
    /* border: 1px solid rgb(21, 236, 64); */  
    text-align: right;
    color: #9F9F9F;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

}
.p-tag-r img{
    
    cursor: pointer;
}
.single-product-middle-section{
    height: 700px;
    /* border: 1px solid rgb(236, 21, 21); */

}

.single-product-middle-section-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-product-middle-section-heading h5{
    /* border: 1px solid rgb(236, 21, 21); */
   align-items: center;
    width: 300px;
    height: 36px;
    /* top: 1090px;
    left: 396px; */

}

.single-product-middle-section-details{
    border: 1px solid rgb(125, 125, 61);
    padding: 10px 100px;
}
.single-product-middle-section-image{
overflow: hidden;
}
.single-product-middle-section-image img{
    overflow: hidden;
}
































.middle-section{


}