*{
    margin: 7px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #575252;
    color: #ffffff;
}
#Header{
    width: 90%;
    height: 100vh;
    display: flex;
    background-image: url(images/Portfolio1.png);
    background-size: 400PX;
    background-position: right;
    background-repeat: no-repeat;
}



.Container{
    padding: 12px 8% 0 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
/*.logo{
    width: 140px;
}*/
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff00ee;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.Header_Text{
    margin-top: 40%;
    font-size: 30px;
    /* text-align: center; */
}
.Header_Text h1{
    font-size: 60px;
    margin-top: 20px;
}
.Header_Text h1 span{
    color: #ff0000;
}
.Header_Text p{
    color: #ffffff;
}

.sidebar-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    cursor: pointer;
  }
  
  /* Style the sidebar menu */
  .sidebar {
    bottom: 2vh;
    position: fixed;
    top: 0;
    left: 0;
    /* width: 136px; */
    height: 100vh;
    background-color: #33333391;
    color: #fff;
    padding: 40px 0 0 9px;
    transform: translateX(-250px);
    transition: transform 0.3s ease-in-out;
  }
  
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15vh;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    color: #ccc;
  }
  
  .side {
      display: flex;
      flex-direction: column;
      gap: 2vh;
  }
  
  /* Show the sidebar menu when the icon is clicked */
  .sidebar.show {
    transform: translateX(0);
  }

/* ------------------about-------------------- */
#about{
    padding: 80px 0;
    color: #ababab;
}

#About {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#About .Container {
    display: flex;
    justify-content: space-between;
}

.Row{
    display: flex;/* contents will be side by side */
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}
.About_col_1{
    flex-basis: 28%;
    position: relative;
    top: 5vh;
    /* bottom: 3vh; */
}
.About_col_1 img{
    width: 100%;
    border-radius: 15px;
    margin: 31px;
    padding-top: 8px;
}
.About_col_2{
    flex-basis: 60%;
}
.Sub_title{
    font-size: 60px;
    font-weight: 600;
    color: #797979;
}
.Tab_titles{
    display: flex;
    margin: 20px 0 40px;
}
.Tab_links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.Tab_links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #b54769;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.Tab_links.Active_link::after{
    width: 50%;
}
.Tab_contents ul li{
    list-style: none;
    margin: 10px 0;
}
.Tab_contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.Tab_contents{
    display: none;
}
.Tab_contents.Active_tab{
    display: block;
}
/* -------------------sevices--------------------- */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #b54769;
    transform: translateY(-10px);
}
/* -------------portfolio---------------- */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#b54769);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #b54769;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #b54769;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #b54769;
}
/* ----------------------contact------------------------ */
.Contact_left{
    flex-basis: 35%;
}
.Contact_right{
    flex-basis: 60%;
}
.Contact_left p{
    margin-top: 30px;
}
.Contact_left p i{
    color: #b54769;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #b54769;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #b54769;
}
.Contact_right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
/*.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff00ee;
}
/* -----------------css for small screen------------------ */
nav .fa-solid{
    display: none;
}
#Msg{
    color: #e8d9d9;
    background-color: #000000ea;
    width: 30%;
    border-radius: 2px;
    margin-top: -40px;
    display: block;
}

@media only screen and (max-width: 400px){
    #header{
        background-image: url(images/Portfolio1.jfif);
        width: 96%;
        height: 56vh;
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #b54769;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }

    .Container {
        display: flex;
        gap: 86vw;
    }

    #Header {
        height: 125vh;
        display: flex;
        justify-content: space-between;
    }
    .About_col_1{
        flex-basis: 28%;
        position: relative;
        top: 5vh;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #Header {
        display: flex;
        height: 100vh;
    }
    .About_col_1{
        flex-basis: 28%;
        position: relative;
        top: 8vh;
    }
    /* .Row {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
}

@media (min-width: 769px) and (max-width: 1024px) {
    #Header {
        display: flex;
        height: 100vh;
    }
    .About_col_1{
        flex-basis: 29%;
        position: relative;
        top: 7vh;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    #Header {
        display: flex;
        height: 100vh;
    }
    .About_col_1{
        flex-basis: 32%;
        position: relative;
        top: 13vh;
    }
}

@media (min-width: 1201px) {
    /* .Header_Text {
        margin-top: 5%;
    } */
    #Header {
        display: flex;
        /* height: 100vh; */
    }
    .About_col_1{
        flex-basis: 28%;
        position: relative;
        /* top: 10vh; */
    }
}