.Contact_left{
    flex-basis: 35%;
}
.Contact_right{
    flex-basis: 60%;
}
.Contact_left p{
    margin-top: 30px;
}
.Contact_left p i{
    color: #b54769;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #b54769;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #b54769;
    text-decoration: none;
}
.Contact_right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
/*.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff00ee;
}
/* -----------------css for small screen------------------ */
nav .fa-solid{
    display: none;
}
#Msg{
    color: #e8d9d9;
    background-color: #000000ea;
    width: 30%;
    border-radius: 2px;
    margin-top: -40px;
    display: block;
}
