/* .main-card{
    flex-wrap: ;
} */
.card-container{
    border: 1px solid rgb(252, 161, 5);
    width: 12vw;
    padding: 1px;
    margin: 5px;
    font-family: "Poppins";
    border-radius: 5px;
    flex-wrap: wrap;
    display: flex;

    /* font-weight: 200; */

    /* height: ; */
    /* width: 285px;
    height: 446px; */
}
.product-image {
    margin: 0.5px;
    padding: 0.5px;
    /* border: 1px solid blue;/ */
    overflow: hidden;
    border-radius: 5px;

    
}
.product-image img{
    width: 162px;
    height: 150px;
    /* margin: 2px; */
    /* padding: px; */
    /* border: 1px solid blue; */

}

.product-description{
    /* border: 1px solid red; */
    /* padding: 0.5px; */
    padding-left: 3px;

}
p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    /* line-height: 28.8px; */
    text-align: left;

}