* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    /* width: 1400px;
    height: 850px; */
    background-color: grey;
    overflow: hidden;
    background-image: url('images/background.png');
}

 

.Pricing-table {
    position: relative;  
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 1);
 }

.Pricing-table::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 24, 147, 1);  
    opacity: 0.5;  
    z-index: -1;  
}

.Pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    
}

.price-head {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
    gap: 2vh;
}

.price-head h4 {
    text-align: center;
}

.card {
    background-color: transparent;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 1);
     width: 300px;
    margin: 20px;
 }

.price {
    font-size: 58px;
    font-weight: bold;
    margin-bottom: 10px;
     line-height: 70px;
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.price-tag {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 22px;
    line-height: 32px;
}

.features {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.features li {
    margin-bottom: 10px;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
}

.features li.tick:before {
    content: "✓";
    color: #4CAF50;
    margin-right: 10px;
}

button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 28px;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 1);
    transition: background-color 0.3s ease;  
    width: 10vw;
}

button:hover {
    background-color: rgba(233, 58, 125, 1);
}

.no-tick {
    margin-left: 1.5rem;
}



/* Small screens (up to 480px) */
@media only screen and (max-width: 480px) {
    .Pricing {
      flex-wrap: wrap;
    }
    .card {
      width: 100%;
      margin: 10px 0;
    }
    .price {
      font-size: 48px;
    }
    h2 {
      font-size: 20px;
    }
    .features li {
      font-size: 14px;
    }
    button {
      width: 100%;
    }
  }
  
  /* Medium screens (up to 768px) */
  @media only screen and (max-width: 768px) {
    .price {
      font-size: 58px;
    }
    h2 {
      font-size: 22px;
    }
    .features li {
      font-size: 16px;
    }
    button {
        width: 20vw;
    }
    .Pricing-table::before {
        background-color: rgba(47, 24, 147, 1);
        height: 245vh;
        z-index: -1;
        background-size: contain;
    }
    .Pricing {
        padding: 3rem;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .Pricing {
      flex-wrap: wrap;
    }
    .card {
      width: calc(50% - 20px);
      margin: 10px;
    }
    .card:nth-child(3n+1) {
      width: 100%;
      margin: 10px 0;
    }
    .Pricing {
        padding: 3rem;
    }
    .Pricing-table::before {
        background-color: rgba(47, 24, 147, 1);
        height: 245vh;
        z-index: -1;
        background-size: contain;
    }
  }

  @media only screen and (max-width: 950px) {
    .Pricing {
      flex-wrap: wrap;
    }
    .card {
      width: calc(50% - 20px);
      margin: 10px;
    }
    .card:nth-child(3n+1) {
      width: 100%;
      margin: 10px 0;
    }
    .Pricing {
        padding: 3rem;
    }
    .Pricing-table::before {
        background-color: rgba(47, 24, 147, 1);
        height: 245vh;
        z-index: -1;
        background-size: contain;
    }
    .Pricing-table {
        overflow: scroll;
        /* height: 100vh; */
    }
  }

  @media only screen and (max-width: 600px) {
    .card {
      width: 100%;
      margin: 10px 0;
    }

    .Pricing {
        padding: 3rem;
    }

    .Pricing-table {
        overflow: scroll;
        /* height: 100vh; */
    }

    .Pricing-table::before {
        background-color: rgba(47, 24, 147, 1);
        height: 245vh;
        z-index: -1;
        background-size: contain;
    }

    button {
        width: 25vw;
    }
  }

  /* Large screens (up to 1024px) */
  @media only screen and (max-width: 1024px) {
    .price {
      font-size: 68px;
    }
    h2 {
      font-size: 24px;
    }
    .features li {
      font-size: 18px;
    }
  }
  
  /* Extra large screens (up to 1440px) */
  @media only screen and (max-width: 1440px) {
    .price {
      font-size: 78px;
    }
    h2 {
      font-size: 28px;
    }
    .features li {
      font-size: 20px;
    }
  }