/* App.css */
*{
    margin: 7px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #575252;
    color: #ffffff;
}
  